"Welcome to, #{@store.name}!"
"You can find us on the web at #{@store.url}"

- @store.products.each do |product|
  .widget
    = link_to(product.name, store_product_path(@store, product))

= link_to('add product', new_store_product_path(@store))
