.page-header
  %h1
    #{@store.name}
    %small
      = link_to('Edit', edit_store_path(@store))

#product_form_wrapper.widget
  %h2
    Add Product
    %a.render-new-product-form{ :href => 'javascript: void(0);' }
      +
  %form.hide
#product_count.btn.btn-success.float-left
  = pluralize(@store.products.length, 'Product', 'Products')

.product-widgets
  - unless @store.products.empty?
    %h2
      Loading Products...
