- content_for(:title) { 'Redirecting... | GramGoods' }
- content_for(:header) { 'Redirecting...' }

:javascript
  var iframe = document.createElement("a");
  iframe.src = "https://instagram.com/accounts/logout/";
  iframe.onload = function () {
    alert('Iframe is now loaded.');
    window.location = '/';
  };
  document.body.appendChild(iframe);
