- unless user_signed_in?
  .widget.mobile-footer
    = render 'shared/force_instagram_logout_iframe' unless browser_is_instagram?
    %p.widget
      Are you a store owner?
    %a{ :href => sign_up_path } Sign Up
    |
    %a{ :href => sign_in_path } Sign In


