- unless user_signed_in?
  .widget.mobile-footer
    = render 'shared/force_instagram_logout_iframe'
    %p.widget
      Are you a store owner?
    %a{ :href => '/stores/new' } Sign Up
    |
    %a{ :href => INSTAGRAM_CONFIG['AUTH_URL'] } Sign In


