- content_for(:title) { 'Order Confirmation | GramGoods' }
- content_for(:header) { 'Order Confirmation' }

= render 'shared/notice', :locals => { :notice => 'Your order has been submitted successfully.' }

= render 'shared/order_confirmation', :locals => { :order => @order,
                                                   :product => @product }
