- content_for(:title) { 'Order Details | GramGoods' }
- content_for(:header) { 'Order Details' }

.order-details.widget
  = render 'shared/order_summary', :locals => { :order => @order,
                                                   :product => @product }
