= render 'shared/order_confirmation', :locals => { :order => @order,
                                                   :product => @product,
                                                   :context => 'end_user' }
