<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag 'marketing', :media => "all" %>
    <title>GramGoods</title>
  </head>
  <body>
    <div id="page-wrapper">
      <%= image_tag('static-image.png', :class => 'image' ) %>
      <div class="text"></div>
      <div class="text-1"> </div>
      <a href="/users/sign_in" class="basic-ok-button" id="dom-elem-295"><span>Sign In&nbsp;</span></a>
      <i class="icon-camera icon"></i>
      <div class="text-2"></div>
      <a href="/users/sign_up" class="basic-ok-button-1" id="dom-elem-127"><span>Sign Up&nbsp;</span></a>
      <div class="rectangle"></div>
      <div class="image-1">
        <%= image_tag 'static-image-1.png' %>
      </div>
      <div class="text-4">Start Selling in a Snap!</div>
      <p class="textarea-2"></p>
      <div class="text-5">GramGoods is a simple and quick way to sell <br/></div>
      <div class="text-6">your products through Instagram. <br/></div>
      <p class="textarea-3"></p>
      <div class="text-7"><br/></div>
      <div class="text-8"><br/></div>
      <div class="text-9"><br/></div>
      <div class="text-10">Customers can instantly purchase from their<br/></div>
      <div class="text-11"><br/></div>
      <div class="text-13">mobile devices.  <br/></div>
      <div class="rectangle-1">
        <a href="/users/sign_up">
          <div class="text-14">GET STARTED NOW </div></div>
        </a>
      <div class="text-15"><br/></div>
      <i class="icon-ok-circle icon-1"></i>
      <div class="text-16"></div>
      <p class="textarea-4">Leverage your Instagram photos </p>
      <i class="icon-ok-circle icon-2"></i>
      <p class="textarea-5">No engineering or design skills needed</p>
      <i class="icon-ok-circle icon-3"></i>
      <p class="textarea-6">Built for mobile shopping</p>
      <i class="icon-ok-circle icon-4"></i>
      <p class="textarea-7">Secure and safe environment </p>
      <i class="icon-ok-circle icon-5"></i>
      <p class="textarea-8">Payments and hosting included </p>
      <div class="text-17"></div>
      <div class="text-18">Create your products</div>
      <div class="text-19">Collect payments and </div>
      <a href="#" class="flat-ok-button" id="dom-elem-388"><span>HOW IT WORKS</span></a>
      <div class="oval"><div class="text-20">1</div></div>
      <div class="oval-1"><div class="text-21">2</div></div>
      <p class="textarea-9">You're already promoting your products with beautiful photos on Instagram. Now it's time to start selling. GramGoods provides and easy to use platform to build and run your store. </p>
      <div class="oval-2"><div class="text-22">3</div></div>
      <i class="icon-ok-circle icon-6"></i>
      <p class="textarea-10">Leverage your existing photos </p>
      <p class="textarea-11"></p>
      <i class="icon-ok-circle icon-7"></i>
      <p class="textarea-12">No egineering or design skills needed</p>
      <i class="icon-ok-circle icon-8"></i>
      <p class="textarea-13">Designed for mobile shopping</p>
      <i class="icon-ok-circle icon-9"></i>
      <p class="textarea-14">Secure and safe environment </p>
      <i class="icon-ok-circle icon-10"></i>
      <p class="textarea-15">Payments and hosting included </p>
      <p class="textarea-16">Easel makes implementation easier by exporting single elements to HTML/CSS. <br/><br/>With integrated web fonts and by using the browser’s type engine, text is rendered exactly as it will on your website.  </p>
      <p class="textarea-17">Easel's goal is allowing you to get your ideas out as quickly as possible. Maybe you want to create a beautiful button?</p>
    </div>
    <%= render 'shared/google_analytics' %>
  </body>
</html>
