.widget
  %h1
    Terms of Service

.widget
  %h2
    Overview

  %p
    GramGoods is a wholly-owned subsidiary of GramGoods, LLC.  a Michigan Limited Liability Company.. By accessing the GramGoods website (“Site”) or using the software and services offered by GramGoods (“Software and Services”), you (“User” or “You”) agree and acknowledge to be bound by these Terms of Service (“Terms”). We reserve the right to change the Terms and recommend that Users periodically check this Site for changes.
  Usage LicenseGramGoods grants you non-exclusive, non-transferable, revocable, limited license to access the Site and use the Software & Services in accordance with these Terms and the guidelines posted on the Site for the purpose of building and maintaining an online storefront hosted by GramGoods on which You offer Your or a third party’s products or services (“Your Store”). You must be at least 13 years of age. No one under the age of 13 may provide any personal information to or on GramGoods (including, for example, a name, address, telephone number or email address). GramGoods reserves the rights to terminate your license to use the Site, Software and Services at any time and for any reason. GramGoods will act in good-faith to notify Users about impending license terminations in advance and with sufficient time to ensure business continuity.


.widget
  %h2
    License Restrictions

  %p
    You acknowledge that the Software and its structure, organization, and source code constitute valuable intellectual property of GramGoods. Except as expressly allowed in the Usage License, You will not, either directly or through a third party, (a) modify, adapt, alter, translate, or create derivative works from the Software; (b) distribute, sublicense, lease, rent, loan, or otherwise transfer the Software to any third party; © reverse engineer, decompile, disassemble, or otherwise attempt to derive the source code for the Software or (d) transfer Your interest in and to Your Store to any third party.
  OwnershipYou will be solely responsible for the development, promotion and maintenance of Your Store, including the operation of Your Store, accepting, processing and filling customer orders generated through Your Store, and handling any customer inquiries, complaints, or disputes arising from orders or sales generated through Your Store. You will be solely responsible for creating, managing, editing, reviewing, deleting and otherwise controlling the content on Your Store, including all descriptions of the products and services You offer to customers of Your Store and user-generated content on and related to Your Store. You retain all right, title and interest in and to all intellectual property rights embodied in Your content, exclusive of any content provided by GramGoods. Notwithstanding anything contained in the foregoing, if You breach any of the terms of this Agreement, GramGoods is entitled to suspend or terminate Your Store and/or any access to information or data related to Your account and the Software. You acknowledge that, by only providing You with the ability to publish and distribute Your own or third party products, services or content, GramGoods is acting only as passive conduits for the distribution and/ or publishing of such products, services or content on the Store. GramGoods has no obligation to You or any third party, and undertakes no responsibility, to review Your Store, the products or services listed therein or any other content, including but not limited to user-generated content, published and/or distributed on Your Store to determine whether any such product, service or content may incur liability to third parties. Notwithstanding anything to the contrary herein, if GramGoods believes in its discretion that Your Store or any products, services, content or other materials in the Store or on the GramGoods servers may create liability for GramGoods or harm other users of GramGoods’s websites or services, then You agree that GramGoods may take any actions with respect to the content or materials or Your Store that it believes are prudent or necessary to minimize potential liability or to protect other users of GramGoods Services.

.widget
  %h2
    Representations

  %p
    You agree that any products, services, or content published and distributed on Your Store and Your related activities shall not:

    %ul
      %li
        Be false, inaccurate or misleading;

      %li
        Be fraudulent or involve the sale of counterfeit, stolen or infringing items;

      %li
        Infringe or misappropriate any third party’s copyright, patent, trademark, trade secret or other proprietary rights or rights of publicity or privacy;

      %li
        Violate any law, statute, ordinance or regulation (including those governing privacy, publicity, export control, consumer protection, intellectual property, gambling, unfair competition, antidiscrimination, criminal activities or false advertising);

      %li
        Be defamatory, libelous, offensive, unlawfully threatening or harassing, or advocating, promoting or providing assistance involving violence, significant risk of death or injury, or other unlawful activities;

      %li
        Be obscene or contain child pornography;

      %li
        Involve the transmission of any unsolicited commercial or bulk email (known as “spamming”) and You shall not use Your account or Your Store as a return address for unsolicited commercial mail originating elsewhere or participate in any activities related to so-called pyramid, ponzi schemes or the like;

      %li
        Involve the collection, sale or transmission of, or attempt to collect personally identifiable information of any person or entity, except with the express written consent of that person or entity and of which consent You shall maintain a written record for a period of three (3) years after any termination of this Agreement;

      %li
        Involve subleasing Your account or offering “free space” on or other access to Your account or Your Store to third parties;

      %li
        Link directly or indirectly to or include descriptions of goods or services that violate any applicable law, statute, ordinance or regulation, or that violate Indie this Agreement.


.widget
  %h2
    Prohibitions

  .widget
    %p
      You agree not to publish, offer for sale, sell or otherwise distribute any of the following items on, through or connected with Your Store:

    %ul
      %li Blood, bodily fluids or body parts;
      %li Burglary tools;
      %li Counterfeit items;
      %li Destructive devices and explosives;
      %li Identity documents, personal financial records or personal information (in any form, including mailing lists);
      %li Lottery tickets, sweepstakes entries or slot machines;
      %li Obscene material or child pornography;
      %li Offensive material or hate speech;
      %li Police badges or uniforms;
      %li Stocks or other securities;
      %li Stolen property.

  .widget
    %p You further agree not to publish, offer for sale, sell or otherwise distribute any of the following items on through or connected with Your Store, except as permitted by, and in full compliance with, all applicable federal, state, local and other laws:

    %ul
      %li
        Digital files that you do not own or have all necessary rights or license to store, display, perform, copy and distribute;
      %li
        Hazardous or restricted items;
      %li
        Content or material that is infringing or otherwise violates the law
      %li
        Weapons and other related items, including, without limitation, explosives, firearms, firearm parts and magazines, ammunition, BB and pellet guns, tear gas, stun guns, switchblade knives and martial arts weapons.

.widget
  %h2
    Fees and payment

  %p All fees are stated in U.S. dollars. Users shall pay all applicable fees, as described on the Site in connection with such Services. All fees are non-refundable unless expressly stated otherwise on the Site. You represent to GramGoods that you are the authorized account holder or an authorized user of the chosen method of payment used to pay for the paid aspects of the Services. All fee-based Services and are provided “AS IS” with no warranties of any kind. GramGoods may modify, update or revise such fee-based Services at its discretion. The current rate is 5% of the total dollars collected per transaction, also $0.30 cent fee per transaction will be withheld for GramGoods. GramGoods will remit remaining balance to you on the 1st and 15th of each month. You agree to provide GramGoods with a US bank routing and account number for depositing funds.

.widget
  %h2
    Intellectual Property

  %p
    (Trademarks & Copyrights)GramGoods, the GramGoods logo and the GramGoods design are trademarks or trade dress of GramGoods, and may not be used without express written permission from GramGoods, other than for attribution. All other trademarks not owned by GramGoods that appear on this Site are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by GramGoods. GramGoods-originated content included on the Site, such as text, graphics, logos, software and the compilation of all content on the Site, is the property of GramGoods and its licensors and protected by United States and international copyright laws. Except as set out in these Terms, no reproduction of any GramGoods-originated content is permitted without written permission from GramGoods. We respond to notices of alleged copyright infringement that comply with applicable intellectual property law (including the Digital Millennium Copyright Act).
  No Warranty and Limitation of LiabilityGramGoods PROVIDES THE SITE AND SERVICES “AS IS” AND WITHOUT ANY WARRANTY OR CONDITION, EXPRESS, IMPLIED OR STATUTORY. GramGoods SPECIFICALLY DISCLAIMS ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, INFORMATION ACCURACY, INTEGRATION, INTEROPERABILITY OR QUIET ENJOYMENT. Some states do not allow the disclaimer of implied warranties, so the foregoing disclaimer may not apply to you.
  You understand and agree that you use the Site and Services at your own discretion and risk and that you will be solely responsible for any damages that arise from such use. UNDER NO CIRCUMSTANCES SHALL GramGoods BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES OF ANY KIND, OR ANY OTHER DAMAGES WHATSOEVER (HOWEVER ARISING, INCLUDING BY NEGLIGENCE), INCLUDING WITHOUT LIMITATION, DAMAGES RELATED TO USE, MISUSE, RELIANCE ON, INABILITY TO USE AND INTERRUPTION, SUSPENSION, OR TERMINATION OF THE SITE OR SERVICES, DAMAGES INCURRED THROUGH ANY LINKS PROVIDED ON THE SITE AND THE NONPERFORMANCE THEREOF AND DAMAGES RESULTING FROM LOSS OF USE, SALES, DATA, GOODWILL OR PROFITS, WHETHER OR NOT GramGoods HAS BEEN ADVISED OF SUCH POSSIBILITY. YOUR ONLY RIGHT WITH RESPECT TO ANY DISSATISFACTION WITH THIS SITE OR SERVICES OR WITH GramGoods SHALL BE TO TERMINATE USE OF THIS SITE AND SERVICES. Some states do not allow the exclusion of liability for incidental or consequential damages, so the above exclusions may not apply to you.

.widget
  %h2
    Other

  %p
    GramGoods and you are independent entities, and nothing in the Terms, or via use of the Site or Services, will create any partnership, joint venture, agency, franchise, sales representative, or employment relationship between GramGoods and you. These Terms supersede any previous agreement and represent the entire agreement between GramGoods and you. These Terms are governed by the laws of the State of Michigan without reference to conflict of laws principles. If any provision of the Terms is adjudged to be illegal or unenforceable, the continuation in full force of the remainder of the Terms will not be prejudiced, and the illegal or unenforceable provision of the Terms shall be severed accordingly.
