- content_for(:title) { 'GramGoods' }
- content_for(:header) { 'GramGoods' }

= render 'shared/alert', :locals => { :alert => "Please visit #{link_to 'GramGoods.com', root_path} using Mobile Safari to create a product and share on Instagram." }
