$white: #fff;
$light-grey: #eee;
$medium-grey: #666;
$dark-grey: #333;
$bootstrap-well-grey: #f5f5f5;
$green: #bada55;

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    -ms-transition:     $transition;
    transition:         $transition;
}

@mixin rounded_corners($radius) {
    -moz-border-radius:     $radius;
    -webkit-border-radius:  $radius;
    border-radius:          $radius;
}

@mixin widget {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.hide {
    display: none;
}
.widget {
    @include widget;
}

.alert {
    margin-top: 10px;
}

.float-left {
    float: left;
}

.gramgoods-tooltip {
    @include transition(.3s);

    &:hover, &:active, &:focus {
        text-decoration: none;
    }
}

body {
    padding-bottom: 40px;
}

// Twitter Bootstrap overrides
input[type=text], input[type=password], input[type=email] {
    height: 28px !important;
}

.input-prepend {
    .add-on {
        height: 28px;
        margin-right: -4px;
    }
    .add-on + .input-xlarge {
        width: 253px;
    }
}

* {
    font: {
        family: sans-serif;
        size: 1em;
    }
}

#spin_wrapper {
    background: rgba(0, 0, 0, .6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    #spin {
        left: 50%;
        position: fixed;
        top: 50%;
    }
    // /#spin

}
// /#spin_wrapper


.user-thumbnail {
    float: right;
    height: auto;
    margin-top: 2px;
    padding-left: 8px;
    width: 45px;
}

#product_form_wrapper,
#store_form_wrapper {
    .well {
        float: left;
        position: relative;

        .gramgoods-tooltip.refresh-form {
            position: absolute;
            top: 4px;
            right: 10px;
        }
    }
}

.product-photos {
    @include widget;

    border-top: 1px solid $light-grey;
    padding-top: 20px;

    .product-photo {
        @include widget;

        margin: 8px;
        width: 172px;

        img {
            border: 4px solid $white;
            display: block;
            width: 100%;
        }

        .btn {
            display: none;
        }
    }
}

.product-widgets {
    margin: 0 auto;
    width: 918px;

    .product-widget {
        @include rounded_corners(10px);
        @include widget;
        @include transition(.3s);

        border: 1px solid $light-grey;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        height: 540px;
        margin: {
            right: 8px;
            left: 8px;
        }
        padding-top: 22px;
        position: relative;
        width: 290px;

        &:hover,
        &:active,
        &:focus {
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);

            .product-photos-gallery {
                box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.8);
            }
        }

        .product-name a {
            color: $dark-grey;
        }

        .product-image-wrapper {
            position: relative;

            .product-image {
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
                display: block;
                margin: 0 auto;
            }

            .product-photo-count {
                background-color: rgba(204, 204, 204, .8);
                border: 1px solid $light-grey;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
                cursor: pointer;
                padding: 2px 3px;
                position: absolute;
                right: 14px;
                top: 212px;
            }
        }

        .product-description {
            @include widget;

            border-bottom: 1px solid $medium-grey;
            font-size: 14px;
            font-weight: bold;
            padding: 8px 0;
            text-align: center;
        }

        .gramgoods-tooltip {
            position: absolute;
            top: 4px;

            &.edit-product {
                right: 30px;
            }

            &.delete-product {
                right: 10px;
            }
        }

        .product-photos-gallery {
            @include transition(.3s);

            background-color: $bootstrap-well-grey;
            border: 1px solid $light-grey;
            border-left: none;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.5);
            max-height: 455px;
            overflow: hidden;
            padding: 20px;
            position: absolute;
            right: -116px;
            top: 37px;
            z-index: 2;

            &.product-photos-gallery-scroll {
                overflow-y: scroll;
                img:last-child {
                    padding-bottom: 20px;
                }
            }

            img {
                display: block;
                cursor: pointer;
                margin-top: 10px;
                width: 75px;
                &:first-child {
                    margin-top: 0;
                }
            }
        }

        .icon-zoom-out {
            display: none;
        }

        &.product-photos-gallery-displayed {
            .product-photos-gallery {
                display: block;
            }
            .icon-zoom-out {
                display: inline-block;
            }
            .icon-zoom-in {
                display: none;
            }
        }

        &[data-raw-product-photo-count='0'] {
            .product-photo-count {
                cursor: default;
            }
            .icon-zoom-in,
            .icon-zoom-out {
                display: none;
            }
        }
    }
}

body {
    // for when product images are selectable
    &.products-edit,
    &.products-new,
    &.stores-show {
        .product-photo {
            cursor: pointer;
            position: relative;

            img {
                @include transition(.3s);
                border: 4px solid rgba(0, 0, 0, 0.4);
                opacity: .5;
            }

            .btn {
                display: block;
                position: absolute;
                right: 12px;
                top: 12px;

                .icon-ok-sign {
                    display: none;
                }

                .icon-plus-sign {
                    display: inline-block;
                }
            }

            &.selected {
                img {
                    border-color: $green;
                    opacity: 1;
                }

                .btn.btn-success {
                    .icon-ok-sign {
                        display: inline-block;
                    }

                    .icon-plus-sign {
                        display: none;
                    }
                }
            }
        }
    }
}
