$white: #fff;
$light-grey: #eee;
$medium-grey: #666;
$dark-grey: #333;
$green: #bada55;

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    -ms-transition:     $transition;
    transition:         $transition;
}

@mixin rounded_corners($radius) {
    -moz-border-radius:     $radius;
    -webkit-border-radius:  $radius;
    border-radius:          $radius;
}

@mixin widget {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.hide {
    display: none;
}
.widget {
    @include widget;
}

.alert {
    margin-top: 10px;
}

.float-left {
    float: left;
}

.gramgoods-tooltip {
    @include transition(.3s);

    &:hover, &:active, &:focus {
        text-decoration: none;
    }
}

body {
    padding-bottom: 40px;
}

input[type=text], input[type=password], input[type=email] {
    // this is to fix some weird bootstrap bug
    height: 28px !important;
}

* {
    font: {
        family: sans-serif;
        size: 1em;
    }
}

.user-thumbnail {
    float: right;
    height: auto;
    margin-top: 2px;
    padding-left: 8px;
    width: 45px;
}

#product_form_wrapper,
#store_form_wrapper {
    .well {
        float: left;
    }
}

.product-photos {
    @include widget;

    border-top: 1px solid $light-grey;
    padding-top: 20px;

    .product-photo {
        @include widget;

        margin: 8px;
        width: 172px;

        img {
            border: 4px solid $white;
            display: block;
            width: 100%;
        }

        .btn {
            display: none;
        }
    }
}

.product-widgets {
    margin: 0 auto;
    width: 918px;

    .product-widget {
        @include rounded_corners(10px);
        @include widget;
        @include transition(.3s);

        border: 1px solid $light-grey;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        height: 540px;
        margin: {
            right: 8px;
            left: 8px;
        }
        overflow: hidden;
        padding-top: 12px;
        position: relative;
        width: 290px;

        &:hover,
        &:active,
        &:focus {
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
        }

        .product-name a {
            color: $dark-grey;
        }

        .product-image-wrapper {
            position: relative;

            .product-image {
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
                display: block;
                margin: 0 auto;
            }

            .product-count {
                background-color: rgba(204, 204, 204, .8);
                border: 1px solid $light-grey;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
                padding: 2px 3px;
                position: absolute;
                right: 14px;
                top: 212px;
            }
        }

        .product-description {
            @include widget;

            border-bottom: 1px solid $medium-grey;
            font-size: 14px;
            font-weight: bold;
            padding: 8px 0;
            text-align: center;
        }

        .gramgoods-tooltip {
            position: absolute;
            top: 4px;

            &.edit-product {
                right: 30px;
            }

            &.delete-product {
                right: 10px;
            }
        }
    }
}

body {
    // for when product images are selectable
    &.products-edit,
    &.products-new,
    &.stores-show {
        .product-photo {
            cursor: pointer;
            position: relative;

            img {
                @include transition(.3s);
                border: 4px solid rgba(0, 0, 0, 0.4);
                opacity: .5;
            }

            .btn {
                display: block;
                position: absolute;
                right: 12px;
                top: 12px;

                .icon-ok-sign {
                    display: none;
                }

                .icon-plus-sign {
                    display: inline-block;
                }
            }

            &.selected {
                img {
                    border-color: $green;
                    opacity: 1;
                }

                .btn.btn-success {
                    .icon-ok-sign {
                        display: inline-block;
                    }

                    .icon-plus-sign {
                        display: none;
                    }
                }
            }
        }
    }
}
