$white: #fff;
$black: #000;
$light-grey: #eee;
$medium-grey: #666;
$dark-grey: #333;
$bootstrap-well-grey: #f5f5f5;
$green: #bada55;
$cream: #ced2c3;
$blue: #004c78;
$bootstrap-blue: #008ccc;

@mixin gramgoods_box_shadow {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    -ms-transition:     $transition;
    transition:         $transition;
}

@mixin rounded_corners($radius) {
    -moz-border-radius:     $radius;
    -webkit-border-radius:  $radius;
    border-radius:          $radius;
}

@mixin widget {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.hide {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

.display-block {
    display: block !important;
}

.widget {
    @include widget;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

* {
    font: {
        family: sans-serif;
        size: 1em;
    }
}
