$white: #fff;
$black: #000;
$light-grey: #eee;
$medium-grey: #666;
$dark-grey: #333;
$bootstrap-well-grey: #f5f5f5;
$green: #bada55;
$cream: #ced2c3;
$blue: #004c78;
$bootstrap-blue: #008ccc;
$red: #f10026;

@mixin gramgoods_box_shadow {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

@mixin widget_box_shadow {
    box-shadow: 0 0 12px $medium-grey;
}

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    -ms-transition:     $transition;
    transition:         $transition;
}

@mixin rounded_corners($radius) {
    -moz-border-radius:     $radius;
    -webkit-border-radius:  $radius;
    border-radius:          $radius;
}

@mixin widget {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.hide {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

.display-block {
    display: block !important;
}

.widget {
    @include widget;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

* {
    font: {
        family: sans-serif;
        size: 1em;
    }
}

@mixin button {
    @include gramgoods_box_shadow;

    background-color: transparent;
    border-radius: 2px;
    color: $white;
    display: inline-block;
    font-weight: bold;
    padding: 1% 4%;
    text-align: center;
    text-decoration: none;
}

.button {
    @include button;
}

@mixin large-button {
    @include button;

    font-size: 1.2em;
    margin: 1% auto 0;
    padding: 3% 3% 4%;
    width: 100%;
}

.large-button {
    @include large-button;
}

@mixin desktop-button {
    @include large-button;

    font-size: 28px;
    width: 98%;
}

.desktop-button {
    @include desktop-button;
}
