@import './reset';
@import './gramgoods_common';

$red: #f10026;

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
    box-sizing: border-box;
    color: $dark-grey;
}

body {
    position: relative;
}

.store-header {
    background-color: $blue;
    border-bottom: 1px solid $medium-grey;
    color: $white;
    left: 0;
    padding: 4% 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;

    h1, h1 a {
        color: $white;
        font-size: 1em;
        text-align: center;
    }
}

#order_form {
    background-color: $white;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;

    .hide-form {
        background-color: $white;
        border-radius: 10px;
        height: 10px;
        text-decoration: none;
        width: 10px;
    }

    legend {
        @include widget;
        margin-bottom: 3%;

        background-color: $blue;
        color: $white;
        padding: 4% 2%;
        width: 100%;

        &#billing_information_legend {
            background: image-url('lock.png') no-repeat 46% 40% $blue;
        }
    }

    h1 {
        color: $white;
        font-size: 1.5em;
        font-weight: normal;
        margin: 0 auto 2%;
        text-align: center;
        width: 50%;
    }

    a {
        color: $medium-grey;
    }

    p, label {
        @include widget;
        margin-bottom: 2%;
    }

    div, fieldset {
        clear: both;
        margin: 0 auto 2%;
    }

    fieldset {
        padding: 0 2%;
    }

    .unhappyMessage {
        color: $red;
    }

    input, select, option {
        width: 100%;
        &.unhappy {
            border: 1px solid $red;

            &::-webkit-input-placeholder {
                color: $red;
            }
        }
    }
}

// *shared* denotes styles shared
// between stores#show and products#show
// wrapped by products and product-detail, respectively
// TODO break shared styles into generic namespace
.products,
.product-detail {
    /* shared */
    margin-bottom: 0;

    .product-thumbnail {
        /* shared */

        display: block;
        width: 100%;
    }

    .product-name {
        /* shared */
        font-size: 1.2em;
        margin-bottom: 4%;
    }

    .product-button {
        /* shared */

        @include gramgoods_box_shadow;

        background-color: $blue;
        border-radius: 2px;
        color: $white;
        display: inline-block;
        font-weight: bold;
        padding: 1% 4%;
        text-align: center;
        text-decoration: none;
    }

    &.products {
        padding-top: 16%;
    }

    .product {
        @include widget;

        border-bottom: 1px solid $medium-grey;
        margin-bottom: 0;
        position: relative;

        .product-left {
            float: left;
            width: 35%;
        }

        .product-middle {
            float: left;
            margin-left: 6%;
            margin-top: 5%;
            padding-bottom: 2%;
            width: 40%;

            .product-price {
                float: left;
            }
        }

        .product-right {
            .product-link {
                a {
                    background: image-url('forward_arrow.png') no-repeat 0 0;
                    display: inline-block;
                    height: 35px;
                    position: absolute;
                    right: 4%;
                    top: 38px;
                    width: 35px;
                }
            }
        }
    }
}

.product-detail {
    padding: 20% 4% 0;

    .product {
        border-bottom: none;
    }

    .product-button {
        font-size: 1.2em;
        margin: 1% auto 0;
        padding: 3% 3% 4%;
        width: 100%;
    }

    .product-top {
        position: relative;

        .product-thumbnail {
            @include gramgoods_box_shadow;

            display: block;
            margin: 0 auto;
            width: 11em;
        }

        .product-gallery-controls {
            display: inline-block;
            margin: 0 auto;

            .product-gallery-control {
                background-color: $medium-grey;
                border-radius: 10px;
                display: inline-block;
                height: .4em;
                text-align: center;
                width: .4em;

                &.on {
                    background-color: $dark-grey;
                }
            }
        }

        .product-name {
            font-weight: normal;
            margin-bottom: 0;
            text-align: center;
        }

        .product-like-count {
            background: image-url('like.png') no-repeat 0 0;
            padding-left: 8%;
        }
    }
}

.products-index {
    .products .product .product-middle {
        margin-top: 2%;

        .store-name {
            font-size: 1.2em;
            font-weight: bold;
        }
    }
}

.mobile-layout.orders-new,
.mobile-layout.orders-create {
    .store-header {
        display: none;
    }
}

.order-details {
    padding: 0 4%;
}
