@import './reset';
@import './gramgoods_common';

* {
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
    box-sizing: border-box;
}

.store-header {
    background-color: $cream;
    border-bottom: 1px solid $medium-grey;
    left: 0;
    padding: 6% 0;
    position: fixed;
    top: 0;
    width: 100%;

    h1 {
        font-size: 1.4em;
        font-weight: normal;
        text-align: center;
    }
}

.products {
    margin-bottom: 0;
    padding-top: 20%;

    .product {
        @include widget;

        &:last-child {
            margin-bottom: 0;
        }

        border-bottom: 1px solid $medium-grey;
        padding: 4%;

        .product-left {
            float: left;
            margin-right: 4%;
            width: 25%;

            .product-thumbnail {
                @include gramgoods_box_shadow;

                display: inline-block;
                width: 100%;
            }
        }

        .product-right {
            float: left;
            width: 71%;

            .product-name {
                font-size: 1.2em;
                margin-bottom: 4%;
            }

            .product-price {
                @include gramgoods_box_shadow;

                background-color: green;
                border-radius: 2px;
                color: $light-grey;
                float: left;
                font-weight: bold;
                margin-top: 2%;
                padding: 1% 4%;
                text-align: center;
            }

            .product-link a {
                background: image-url('forward_arrow.png') no-repeat 0 0;
                height: 32px;
                float: right;
                width: 32px;
            }
        }
    }
}
