@import './reset';
@import './gramgoods_common';

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
    box-sizing: border-box;
    color: $dark-grey;
}

li {
    list-style-type: none;
}

a {
    @include transition(.2s);

    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}

// Twitter Bootstrap overrides
input[type=text], input[type=tel], input[type=password], input[type=email], input[type=number] {
    height: 28px !important;
}

.radio {
    cursor: pointer;

    input[type="radio"] {
        width: auto !important;
    }
}

.btn {
    color: $white !important;
}

.alert {
    margin: 1% auto;
    text-align: center;
    width: 98%;

    a {
        text-decoration: underline;
    }
}

// /Twitter Bootstrap overrides

body {
    position: relative;
    margin: 0 auto;
    max-width: 960px;
}

.mobile-header {
    background-color: $blue;
    color: $white;

    h3 {
        padding-right: 14%;
    }

    // TODO h1s can most likely be removed
    // span should probably be removed from the following selector chain,
    // nested and styled appropriately
    h1, h1 span, h1 a, h3, h3 span {
        color: $white;
        display: block;
        float: left;
        position: relative;
        width: 100%;

        img {
            display: block;
            margin: 0 auto;
            width: 40%;
        }

        @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (   min--moz-device-pixel-ratio: 2),
        only screen and (     -o-min-device-pixel-ratio: 2/1),
        only screen and (        min-device-pixel-ratio: 2),
        only screen and (                min-resolution: 192dpi),
        only screen and (                min-resolution: 2dppx) {
            img {
                width: 34%;
            }
        }
    }

    #menu_button {
        position: absolute;
        right: 0;
        top: 0;
    }

    #menu {
        display: none;
        float: left;
        list-style-type: none;
        margin-top: 6%;
        text-align: right;
        width: 100%;

        li {

            &.on a,
            a:hover,
            a:focus,
            a:active {
                // rgba version of light-grey
                background-color: rgba(238, 238, 238, .2);
                border-radius: 2px;
            }

            a {
                color: $white;
                display: inline-block;
                padding: 2%;
                text-decoration: none;
                width: 100%;
            }

            span {
                color: $white;
            }
        }
    }
}

html.touch {
    .mobile-header {
        left: 0;
        min-height: 50px;
        padding: 4%;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 998;

        &.absolute {
            position: absolute;
        }

        #menu {
            li a {
                padding: 2% 4%;
            }
        }
    }

    .mobile-layout-inner {
        padding-top: 51px;
    }

    .custom-merchant {
        .mobile-layout-inner {
            padding-top: 57px;
        }

        @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (   min--moz-device-pixel-ratio: 2),
        only screen and (     -o-min-device-pixel-ratio: 2/1),
        only screen and (        min-device-pixel-ratio: 2),
        only screen and (                min-resolution: 192dpi),
        only screen and (                min-resolution: 2dppx) {
            .mobile-layout-inner {
                padding-top: 52px;
            }
        }
    }

    .product-name {
        font-size: 18px;
    }

    img {
        display: inline-block;
        width: 33%;
    }
}

// desktop overrides
// !importants are very bad and the shared styles will need to be modular-ized
// in a future iteration

.desktop-wrapper {
    display: none;
}

html.no-touch {
    background-color: $light-grey;

    .alert-wrapper {
        float: left;
        width: 100%;
    }

    .mobile-layout-outer {
        @include widget_box_shadow;

        background-color: $white;
        float: left;
        margin: 12px 0;
        width: 100%;
    }

    .mobile-layout-inner {
        padding-top: 0 !important;
    }

    a {
        color: rgba(0, 140, 204, .8);

        &:hover,
        &:active,
        &:focus {
            color: rgba(0, 140, 204, 1);
        }
    }

    .desktop-wrapper {
        display: block;
    }

    .mobile-wrapper {
        display: none;
    }

    .mobile-header {
        float: left;
        max-width: 960px;
        padding: 20px 20px;
        width: 100%;

        h3 {
            font-size: 32px;

            img {
                width: 25%;
            }
        }

        #menu {
            margin-top: 40px;

            li a {
                color: $white;
                font-size: 16px;
                padding: 12px;
            }
        }
    }

    .product-button,
    .large-button {
        @include desktop-button;
    }

    .product-left {
        .loading {
            font-size: 28px !important;
            font-weight: bold !important;
            padding-top: 86px !important;
        }
    }

    .product-middle {
        padding-top: 40px;

        & > div {
            margin-bottom: 6% !important;
        }

        .store-name {
            font-size: 28px;
        }

        .product-name {
            font-size: 34px;
        }

        .product-price {
            font-size: 32px;
            margin: 0 !important;
            margin-bottom: 6% !important;
            padding: 20px 36px !important;
        }
    }

    .product-right {
        padding-top: 40px;

        & > div {
            font-size: 20px;
            margin-bottom: 10% !important;
        }

        .owner-action a {
            color: $white;
            text-decoration: none !important;
        }
    }

    .product-link {
        display: none;
    }

    .mobile-footer {
        font-size: 18px;
        padding: 16px 0;
    }

    .products-show {
        .product-detail {
            .product-thumbnail {
                max-width: 612px;
            }

            .product-gallery-controls {
                margin-top: 20px;

                .product-gallery-control {
                    border-radius: 30px;
                    display: block;
                    float: left;
                    height: 30px;
                    margin: 6px;
                    width: 30px;
                }
            }

            .product-button {
                color: $white;
                text-decoration: none;
            }
        }
    }

    img {
        display: inline-block;
        width: 30%;
    }
}

.orders-new {
    .mobile-layout-inner {
        padding-top: 0;
    }
}

.mobile-form {
    background-color: $white;
    float: left;
    padding-top: 2%;
    width: 100%;

    &.order-form {
        padding-top: 0;
    }

    .hide-form {
        background-color: $white;
        border-radius: 10px;
        height: 10px;
        text-decoration: none;
        width: 10px;
    }

    legend {
        @include widget;
        margin-bottom: 3%;

        background-color: transparent;
        color: $white;
        padding: 4% 2%;
        width: 100%;
    }

    h1 {
        color: $white;
        font-size: 1.5em;
        font-weight: normal;
        margin: 0 auto 2%;
        text-align: center;
        width: 50%;
    }

    a {
        color: $medium-grey;
    }

    p, label {
        @include widget;
        margin-bottom: 2%;
    }

    div, fieldset {
        clear: both;
        margin: 0 auto 2%;
        overflow: hidden;
    }

    fieldset {
        padding: 0 2%;

        .inline-help {
            font-size: .7em;
        }

        &.checkbox {
            label, input {
                width: auto;
            }
            input {
                margin-left: 8px;
            }
        }
    }

    .unhappyMessage {
        color: $red;
        display: block;
    }

    input, select, option, textarea {
        width: 100%;

        &.width-90 {
            width: 82%;
        }

        &.unhappy {
            border: 1px solid $red;

            &::-webkit-input-placeholder {
                color: $red;
            }
        }
    }

    .add-button {
        float: right;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
    }

    .attribute-wrapper {
        display: inline-block;
        float: left;
        margin-bottom: 2px;
        margin-left: 2px;
        position: relative;


        &:first-of-type {
            margin-left: 0;
        }

        .remove-attribute {
            padding-right: 10px;
            text-decoration: none;

            .icon-remove-sign {
                position: absolute;
                right: 3px;
                top: 2px;
            }
        }
    }
}

// *shared* denotes styles shared
// between stores#show and products#show
// wrapped by products and product-detail, respectively
// TODO break shared styles into generic namespace
.products,
.product-detail {
    /* shared */
    margin-bottom: 0;

    .product-thumbnail {
        /* shared */

        display: block;
        width: 100%;

    }

    .product-page {
        float: left;
        width: 100%;
    }

    .loading {
        color: $medium-grey;
        text-align: center;
    }

    .product-name {
        /* shared */
        font-weight: bold;
        line-height: 1;
    }

    .product-button {
        /* shared */

        @include gramgoods_box_shadow;

        background-color: transparent;
        border-radius: 2px;
        color: $white;
        display: inline-block;
        font-weight: bold;
        padding: 1% 4%;
        text-align: center;
        text-decoration: none;
    }

    .product {
        @include widget;

        border-bottom: 1px solid $medium-grey;
        margin-bottom: 0;
        min-height: 112px;
        position: relative;

        .product-left {
            float: left;
            min-height: 72px;
            text-align: center;
            width: 35%;

            .loading {
                padding-top: 30px;
            }
        }

        .product-middle {
            float: left;
            margin-left: 2%;
            padding-top: 2%;
            width: 42%;

            > div {
                float: left;
                margin-bottom: 2%;
                width: 100%;
            }

            .product-price {
                float: left;
                margin-bottom: 6%;
                margin-top: 4%;
                width: auto;
            }
        }

        .product-right {
            float: left;
            padding-top: 2%;
            width: 20%;

           .owner-action {
               float: left;
               margin-bottom: 10%;
               width: 100%;

                div.btn,
                a.btn {
                    color: $white;
                    dislay: block;
                    text-align: center;
                    width: 100%;
                }
            }

            .product-link {
                a {
                    background: image-url('forward_arrow.png') no-repeat 0 0;
                    background-size: 60%;
                    display: inline-block;
                    height: 35px;
                    position: absolute;
                    right: 4px;
                    top: 41%;
                    width: 35px;
                }

                @media only screen and (-webkit-min-device-pixel-ratio: 2),
                only screen and (   min--moz-device-pixel-ratio: 2),
                only screen and (     -o-min-device-pixel-ratio: 2/1),
                only screen and (        min-device-pixel-ratio: 2),
                only screen and (                min-resolution: 192dpi),
                only screen and (                min-resolution: 2dppx) {
                    a {
                        background-image: image-url('forward_arrow@2x.png');
                    }
                }
            }
        }
    }
}

// set default background color for non-customized stores
// the background color is set as transparent in the common class declaration
// and then overriden below to avoid fouc on customized pages
.products-index,            // recent products page
body.non-custom-merchant {  // store page

    .product-detail,                 // product page
    .non-custom-merchant-product {   // product partial (recent products, store)
        .product-button {
            background-color: $blue;
        }
    }

    .mobile-form {
        legend {
            background-color: $blue;
        }
    }
}

.mobile-footer {
    padding-top: 4px;
    text-align: center;
    text-decoration: none;

    #view_more_products {
        background-color: $blue;
        width: 92%;

        &,
        &:hover,
        &:active,
        &:focus {
            color: $white;
        }
    }
}

.product-detail {
    padding: 0 4% 0;

    .product {
        border-bottom: none;
    }

    .product-button {
        @include large-button;
    }

    .product-top {
        padding-top: 4%;
        padding-bottom: 4%;
        position: relative;

        .product-thumbnail {
            @include widget_box_shadow;

            display: none;
            margin: 0 auto;
            width: 88%;

            &.on {
                display: block;
            }
        }

        .product-gallery-controls {
            display: inline-block;
            margin: .4em auto 0;

            .product-gallery-control {
                background-color: $medium-grey;
                border-radius: 10px;
                display: inline-block;
                height: .6em;
                margin: 0 .2em;
                text-align: center;
                width: .6em;

                &.on {
                    background-color: $dark-grey;
                }
            }
        }
    }

    .product-name {
        margin-top: 6px;
        text-align: center;
    }
}

.mobile-layout.orders-new,
.mobile-layout.orders-create {
    .mobile-header {
        display: none;
    }

    .mobile-layout-inner {
        padding-top: 0;
    }
}

.order-details {
    border-bottom: 1px solid $medium-grey;
    padding: 2% 4%;

    &:last-child {
        margin-bottom: 0;
    }
}

.return-policy, .terms-of-service, .welcome {
    padding: 2% 4%;
}

.welcome {
    .screenshot {
        display: block;
        margin: 6px auto 14px;
        max-width: 576px;
        width: 100%;
    }
}

.user-product-image-wrapper {
    .remove-user-product-image {
        float: left;
        margin-right: 12px;
        margin-top: 6px;
    }

    input[type='file'] {
        float: left;
        width: auto;
    }
}

#existing_product_image_grid_wrapper,
#new_product_image_grid_wrapper {
    margin-bottom: 0;
}

#existing_product_image_grid,
#new_product_image_grid {
    float: none;
    margin-right: auto;
    margin-left: auto;
    width: 100%;

    .photo-wrapper {
        clear: none;
        cursor: pointer;
        float: left;
        position: relative;
        width: 32%;

        .photo {
            @include transition(.2s);

            border: 4px solid #ccc;
            display: inline-block;
            width: 100%;
        }

        span {
            position: absolute;
            right: 6px;
            top: 6px;
        }

        .remove {
            display: none;
        }

        .add {
            display: inline-block;
        }

        &.selected {
            .photo {
                border-color: #666;
            }

            .remove {
                display: inline-block;
            }

            .add {
                display: none;
            }
        }
    }
}

html.touch {
    #existing_product_image_grid_wrapper,
    #new_product_image_grid_wrapper {
        .photo-wrapper {
            margin: 2px;
        }
    }
}

html.no-touch {
    #existing_product_image_grid_wrapper,
    #new_product_image_grid_wrapper {
        .photo-wrapper {
            margin: 6px;
        }
    }
}
