@mixin widget {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.widget {
    @include widget;
}

* {
    font: {
        family: sans-serif;
        size: 1em;
    }
}

html body {
    margin: 40px auto;
    width: 960px;
}

.product-photos {
    @include widget;

    .product-photo {
        @include widget;

        border: 1px solid #fff;
        margin: 0 4px;
        width: 152px;

        img {
            width: 150px;
        }

        &.selected {
            border-color: green;
        }
    }
}

.product-form {
    @include widget;
}
