@mixin widget {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.widget {
    @include widget;
}

* {
    font: {
        family: sans-serif;
        size: 1em;
    }
}

html body {
    background-color: #ccc;
    margin: 40px auto;
    width: 960px;
}

.product-photos {
    @include widget;

    border-top: 1px solid #666;

    .product-photo {
        @include widget;

        height: 180px;
        margin: 0 8px;
        width: 152px;

        img {
            border: 4px solid #fff;
            width: 150px;

        }

        &.selected img {
            border-color: #bada55;
        }
    }
}

.product-form {
    @include widget;
}
