@import './gramgoods_common';

html.touch,
html.no-touch {

    .custom-merchant {
        .mobile-header {
            h3 {
                padding-right: 0;
            }
        }
    }

    // fivestory
    $fivestory-store-color: $black;
    $fivestory-forward-arrow: "//s3.amazonaws.com/gramgoods-production/fivestory_forward_arrow.png";

    .custom-merchant-fivestory {
        .mobile-header,
        .products .product-button, .product-detail .product-button {
           background-color: $fivestory-store-color;
       }

       .mobile-header {
            h3, h3 span, h5 span {
                color: #fff;
            }
        }
    }

    .custom-merchant-fivestory .products .product .product-right .product-link a,
    .product.custom-merchant-fivestory-product .product-right .product-link a {
        background-image: url($fivestory_forward_arrow);
    }

    .custom-merchant-fivestory .products .product-button,
    .product.custom-merchant-fivestory-product .product-middle .product-button {
        background-color: $fivestory-store-color;
    }

    .custom-merchant-fivestory #order_form legend {
        background-color: $fivestory-store-color;

        &#billing_information_legend {
            background-color: $fivestory-store-color;
        }
    }

    .custom-merchant-fivestory #view_more_products {
        background-color: $fivestory-store-color;
    }


    // wink
    $wink-store-color: #D30547;

    .custom-merchant-wink {
        .mobile-header {
            background-color: #fff;

            h3, h3 span, h5 span {
                color: $wink-store-color;
            }


            #menu li {
                &.on a,
                a:hover,
                a:focus,
                a:active {
                    // rgba version of light-grey
                    background-color: rgba(238, 238, 238, .5);
                }

                a {
                    color: $wink-store-color;
                }
            }
        }

        .products .product-button, .product-detail .product-button {
           background-color: $wink-store-color;
       }
    }

    .custom-merchant-wink .products .product-button,
    .product.custom-merchant-wink-product .product-middle .product-button {
        background-color: $wink-store-color;
    }

    .custom-merchant-wink #order_form legend {
        background-color: $wink-store-color;

        &#billing_information_legend {
            background-color: $wink-store-color;
        }
    }

    .custom-merchant-wink #view_more_products {
        background-color: $wink-store-color;
    }


    // veda - not very DRY, but it'll be easier to change when the time comes
    $veda-store-color: $black;

    .custom-merchant-veda {
        .mobile-header {
            background-color: #fff;

            h3, h3 span, h5 span {
                color: $veda-store-color;
            }

            #menu li {
                &.on a,
                a:hover,
                a:focus,
                a:active {
                    // rgba version of light-grey
                    background-color: rgba(238, 238, 238, .5);
                }

                a {
                    color: $veda-store-color;
                }
            }
        }

        .products .product-button, .product-detail .product-button {
           background-color: $veda-store-color;
       }
    }

    .custom-merchant-veda .products .product-button,
    .product.custom-merchant-veda-product .product-middle .product-button {
        background-color: $veda-store-color;
    }

    .custom-merchant-veda #order_form legend {
        background-color: $veda-store-color;

        &#billing_information_legend {
            background-color: $veda-store-color;
        }
    }

    .custom-merchant-veda #view_more_products {
        background-color: $veda-store-color;
    }

    // owen - not very DRY, but it'll be easier to change when the time comes
    $owen: $black;

    .custom-merchant-owen-nyc {
        .mobile-header {
            background-color: #fff;

            h3, h3 span, h5 span {
                color: $owen;
            }

            #menu li {
                &.on a,
                a:hover,
                a:focus,
                a:active {
                    // rgba version of light-grey
                    background-color: rgba(238, 238, 238, .5);
                }

                a {
                    color: $owen;
                }
            }
        }

        .products .product-button, .product-detail .product-button {
           background-color: $owen;
       }
    }

    .custom-merchant-owen-nyc .products .product-button,
    .product.custom-merchant-owen-nyc .product-middle .product-button {
        background-color: $owen;
    }

    .custom-merchant-owen-nyc #order_form legend {
        background-color: $owen;

        &#billing_information_legend {
            background-color: $owen;
        }
    }

    .custom-merchant-owen-nyc #view_more_products {
        background-color: $owen;
    }

    // soles - not very DRY, but it'll be easier to change when the time comes
    $solesinc-store-color: $black;

    .custom-merchant-solesinc {
        .mobile-header {
            background-color: #fff;

            h3, h3 span, h5 span {
                color: $solesinc-store-color;
            }

            #menu li {
                &.on a,
                a:hover,
                a:focus,
                a:active {
                    // rgba version of light-grey
                    background-color: rgba(238, 238, 238, .5);
                }

                a {
                    color: $solesinc-store-color;
                }
            }
        }

        .products .product-button, .product-detail .product-button {
           background-color: $solesinc-store-color;
       }
    }

    .custom-merchant-solesinc .products .product-button,
    .product.custom-merchant-solesinc-product .product-middle .product-button {
        background-color: $solesinc-store-color;
    }

    .custom-merchant-solesinc #order_form legend {
        background-color: $solesinc-store-color;

        &#billing_information_legend {
            background-color: $solesinc-store-color;
        }
    }

    .custom-merchant-solesinc #view_more_products {
        background-color: $solesinc-store-color;
    }

    // AmericanTwoShot - not very DRY, but it'll be easier to change when the time comes
    $americantwoshot-color: $black;

    .custom-merchant-americantwoshot {
        .mobile-header {
            background-color: #fff;

            h3, h3 span, h5 span {
                color: $americantwoshot-color;
            }

            #menu li {
                &.on a,
                a:hover,
                a:focus,
                a:active {
                    // rgba version of light-grey
                    background-color: rgba(238, 238, 238, .5);
                }

                a {
                    color: $americantwoshot-color;
                }
            }
        }

        .products .product-button, .product-detail .product-button {
            background-color: $americantwoshot-color;
        }
    }

    .custom-merchant-americantwoshot .products .product-button,
    .product.custom-merchant-americantwoshot-product .product-middle .product-button {
        background-color: $americantwoshot-color;
    }

    .custom-merchant-americantwoshot #order_form legend {
        background-color: $americantwoshot-color;

        &#billing_information_legend {
            background-color: $americantwoshot-color;
        }
    }

    .custom-merchant-americantwoshot #view_more_products {
        background-color: $americantwoshot-color;
    }


    // dev
    $my-sample-store-store-color: $black;

    .custom-merchant-my-sample-store {
        .mobile-header {
            background-color: orange;

            h3, h3 span, h5 span {
                color: $white;
            }
        }

        .products .product-button, .product-detail .product-button {
           background-color: $my-sample-store-store-color;
       }
    }

    .custom-merchant-my-sample-store .products .product-button,
    .product.custom-merchant-my-sample-store-product .product-middle .product-button {
        background-color: $my-sample-store-store-color;
    }

    .custom-merchant-my-sample-store #order_form legend {
        background-color: $my-sample-store-store-color;

        &#billing_information_legend {
            background-color: $my-sample-store-store-color;
        }
    }
}
