.product-like-count {
    background: image-url('like.png') no-repeat 0 0;
    font-weight: bold;
}

html.touch {
    .product-like-count {
        background-position: 0 center;
        background-size: 9%;
        padding-left: 14px;

        @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (   min--moz-device-pixel-ratio: 2),
        only screen and (     -o-min-device-pixel-ratio: 2/1),
        only screen and (        min-device-pixel-ratio: 2),
        only screen and (                min-resolution: 192dpi),
        only screen and (                min-resolution: 2dppx) {
            & {
                background-image: image-url('like@2x.png');
            }
        }
    }

    .products-show {
        .product-like-count {
            background-position: 0 center;
            background-size: 6%;
            font-size: 18px;
            margin-bottom: 4px;
            padding: {
                top: 4px;
                bottom: 2px;
                left: 20px;
            }
        }
    }
}

html.no-touch {
    .product-like-count {
        background-size: 7%;
        font-size: 32px;
        padding: {
            top: 10px;
            bottom: 12px;
            left: 40px;
        }
    }

    .products-show {
        .product-like-count {
            background-size: 4%;
        }
    }
}
