%fieldset
  %input.width-90{ :type => 'text', |
    :name => nil, |
    :placeholder => locals[:attribute].titleize }
  %button.add-button{ :data => { :attribute => locals[:attribute].to_s} } +
  %div.attrs
    - unless locals[:collection].nil?
      - locals[:collection].each do |_attribute|
        - attribute = _attribute[locals[:attribute]]
        - random = Random.new.rand(20..30)
        - n = Time.now.seconds_since_midnight.floor * random
        - name = "product[#{locals[:attribute].pluralize}_attributes][#{n}][#{locals[:attribute]}]"
        %span{ :id => n }
          = attribute
          %a.remove-attribute{ :href => 'javascript: void;', |
            :data => { :attribute => attribute, :id => n }} X
          %input{ :name => name, |
                  :type => 'hidden', |
                  :value => attribute }

