- content_for(:title) { "Edit #{@product.name} | GramGoods" }
- content_for(:header) do
  %h1
    Edit #{@product.name}
    %br

    - unless user_signed_in?
      = render 'shared/force_instagram_logout_iframe'
      %a{ :href => '/users/auth/instagram' } Login using Instagram
    - else
      = link_to 'Logout', destroy_user_session_path


