- content_for(:title) { "Recent Products | GramGoods" }
- content_for(:header) do
  %h1
    Recent Products

= render 'shared/products', :locals => { :products => @products, |
                                         :show_store_name => true }
= render 'shared/footer.mobile'
