- content_for(:title) { "Create Product | GramGoods" }
- content_for(:header) do
  %h1
    Create Product
    %br
    = link_to 'Logout', destroy_user_session_path
    |
    = link_to "Back to #{@product.store.name}", custom_store_path(@product.store)

#product_form_wrapper
  = render 'form'
